@import "src/styles/variables";

.days {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 20px;
  width: 100%;
  background-color: var(--components-background-default);
  box-shadow: $box-shadow;
  border-radius: 0 0 $border-radius $border-radius;
}

.card {
  display: flex;
  flex-direction: column;
  background: var(--card-background-default);
  border-radius: 10px;
  padding: 10px;
  width: 150px;
  -webkit-transition: all 0.3s;
  -moz-transition: all 0.3s;
  -ms-transition: all 0.3s;
  -o-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  &:hover {
    -webkit-box-shadow: var(--card-shadow-default);
    -moz-box-shadow: var(--card-shadow-default);
    box-shadow: var(--card-shadow-default);
  }
  .day {
    &__name {
      margin-bottom: 7px;
      font-size: 18px;
      color: var(--text-color-default);

      &_weekend {
        color: #ff5252;
      }
    }

    &__date {
      font-size: 14px;
      margin-bottom: 12px;
      color: $base-color;
    }

    &__img {
      margin-bottom: 12px;
      height: 60px;
      overflow: hidden;
      display: flex;
      align-items: center;
      justify-content: center;
      img {

        object-fit: cover;
      }
    }

    &__temp_day {
      font-size: 18px;
      color: var(--text-color-default);
    }

    &__temp_night {
      font-size: 13px;
      color: $base-color;
      margin-bottom: 6px;
    }

    &__info {
      font-size: 13px;
      color: $base-color;
    }
  }
}


.tabs {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 7px;

  .tab, .cancel {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    padding: 9px 20px;
    background-color: var(--components-background-default);
    margin-right: 15px;
    color: var(--text-color-default);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }


  .cancel {
    margin-right: 0;
  }
  &__wrapper {
    display: flex;

    .tab {
      &.active {
        background-color: $primary-col;
        color: #fff;
      }
    }
  }
}