$opacity: 0.1;

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  padding:20px 0;
  top: 0;
  left: 0;
  right: 0;

  height: 100vh;
  z-index: 100;
  background-color: transparentize(#000, $opacity);

}

.content {
  width: 1000px;
  overflow: hidden;
  border-radius: 15px;
  @media screen and (max-width: 1050px) {
    width: calc(100% - 60px);
    margin: 0 auto;
  }
  position: relative;
  top: 0;
  right: 0;
  height: 90vh;
  overflow-y: auto;
}

.close {
  position: absolute;
  top: 0;
  right: 10px;
  width: 30px;
  background-color: transparent;
  cursor: pointer;
  
  &:hover {
    opacity: 0.8;
  }
}