@import "src/styles/variables";

.tabs__wrapper {
  display: flex;
  margin-top: 50px;
  margin-bottom: 20px;

  .tab {
    box-shadow: 2px 5px 25px -3px rgba(180, 180, 180, 0.25);
    border-radius: 5px;
    padding: 9px 20px;
    background-color: var(--components-background-default);
    color: var(--text-color-default);
    font-size: 19px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    &.selected {
      border-bottom: 4px solid $primary-col;
    }

    &:not(:last-of-type) {
      margin-right: 15px;
    }
  }
}
