@import "src/styles/variables";

.container {
  padding: 20px;
  max-width: 400px;
  width: 100%;
  background: var(--components-background-default );
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow ;
  border-radius: $border-radius;

  @media screen and (max-width: 770px) {
    background: transparent;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    border-radius: 0;

  }

  @media screen and (max-width: 520px) {

    max-width: 100%;
  }
}

.top_block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;
  @media screen and (max-width: 770px) {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  @media screen and (max-width: 520px) {
    flex-direction: row-reverse;
    justify-content: center;

  }

  @media screen and (max-width: 400px) {
    flex-direction: column-reverse;
    justify-content: center;

  }
  img {
    width: 119px;
    height: 119px;


  }

  .temp {
    font-size: 98px;
    color: $primary-col;
  }

  .today {
    font-size: 40px;
    color: var(--text-color-default);
  }
}

.bottom_block {
  .time, .city {
    color: $base-color;
    font-size: 25px;
  }
}