@import "src/styles/variables";

$first-col-flex-basis: 200px;
$second-col-flex-basis: 230px;
$third-col-flex-basis: 230px;
$fourth-col-flex-basis: 150px;


.forecast {
  border-radius: $border-radius;
  box-shadow: $box-shadow;
  background-color: var(--components-background-default);
  color: var(--text-color-default);
  padding: 20px;
  &:not(:last-child) {
    margin-bottom: 40px;
  }
  .date_info {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .heading__day {
      display: flex;
      align-items: center;
      flex-basis: $first-col-flex-basis;
      .dayname {
        font-size: 55px;

        &_weekend {
          color: #ff5252;
        }
      }



      .heading_desc {
        display: flex;
        flex-direction: column;
        font-size: 14px;
        padding-left: 16px;
        color: $base-color;
        line-height: 20px;
      }


    }
    .heading__temperature {
      flex-basis: $second-col-flex-basis;
    }
    .heading__weather {
      flex-basis: $third-col-flex-basis;
    }
    .heading__wind {
      flex-basis: $fourth-col-flex-basis;
    }
  }


  .periods__container {
    border-top: 1px solid transparentize($base-color, 0.7);

    padding-top: 10px;
    display: flex;
    flex-direction: column;
    margin-top: 10px;



    .period__container {
      margin-bottom: 20px;
      display: flex;
      justify-content: space-between;
      align-items: center;


      .period__date {
        flex-basis: $first-col-flex-basis;
        display: grid;
        grid-auto-columns: 60px 1fr;
        grid-auto-rows: 1fr 1fr;
        grid-template-areas: "img dayperiod" "img hours";


        &__image {
          padding-right: 10px;
          width: 60px;
          grid-area: img;
          img {
            width: 100%;
          }
        }
        &__dayperiod {
          font-size: 12px;
          color: $base-color;
          grid-area: dayperiod;
        }

        &__hours {
          font-size: 14px;
          grid-area: hours;
        }
      }

      .period__temp {
        flex-basis: $second-col-flex-basis;
      }

      .period__weather {
        flex-basis: $third-col-flex-basis;
      }

      .period__wind {
        flex-basis: $fourth-col-flex-basis;
      }
    }
  }
}