@import "src/styles/variables";

.footer{
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  p {
    color: var(--text-color-default);
  }
  a {
    color: var(--text-color-default);
  }
  a:hover {
    color:  var(--text-color-default);
    opacity: 0.5;
  }
}