@import "src/styles/variables";

$logo-basis: 315px;
$select-basis: 170px;


.header {
  display: grid;
  grid-template-areas: "logo search theme select";
  grid-template-columns: $logo-basis 1fr 35px $select-basis;
  grid-gap: 20px;

  @media screen and (max-width: 950px){
    grid-template-areas: "logo theme select" " search search search";
    grid-template-columns: 1fr 35px $select-basis;
  }

  @media screen and (max-width: 530px){
    grid-template-areas: "logo select select " "search search theme";
    justify-content: space-between;
    grid-template-columns: 1fr calc($select-basis - 55px) 35px ;

  }

  @media screen and (max-width: 470px){
    grid-template-areas: "logo logo " "select theme" "search search";
    justify-content: space-between;
    grid-template-columns: 1fr 35px ;

  }
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;

  .logoBlock {
    grid-area: logo;
  }
  .searchBlock {
    grid-area: search;
  }
  .selectBlock {
    grid-area: select;
    justify-content: flex-end;

    @media screen and (max-width: 470px){
      justify-content: stretch;
      & > * {
        width: 100%;
      }
    }
  }
  .changeThemeBlock {
    grid-area: theme;
  }


  .search {

    flex:  590px 1 1;
    display: flex;
    position: relative;
    color: var(#{--text-color-default});
    border-radius: $border-radius;

    box-shadow: $box-shadow;

    svg {
      position: absolute;
      top: calc(50% - 13px);
      left: 20px;
      height: 26px;
      color: #4793ff;
    }

    input {
      padding-left: 55px;
      font-size: 20px;
      height: 60px;
      width: 100%;
      border-radius: $border-radius;
      color: var(#{--text-color-default});

      &::placeholder {
        color:  var(#{--text-color-default});
        opacity: 0.6;
      }
    }
  }


  .wrapper {
    &.logoBlock {
      flex-basis: 315px;
      flex-shrink: 0;
    }
    display: flex;
    align-items: center;
    .logo {
      svg {
        width: 65px;
        height: 65px;
      }
    }



    .heading {
      font-size: 25px;
      text-transform: uppercase;
      font-weight: bold;
      color: $primary-col;
    }

    .change_theme, .logo {
      margin-right: 20px;
      cursor: pointer;
    }

  }
}

.select {
  width: 170px;
  background-color: var(--components-background-default);
  border-radius: 10px;

  //height: 50px;
  border: none;
}